<div class="container col-md-4 col-md-offset-4">
<form
    novalidate
    ng-submit="login()"
    name="loginForm"
    class="form-signin">

  <fieldset>
    <div>
      <div>
        <input type="email" ng-model="user.email" name="email" class="form-control" placeholder="admin@example.com"required>
        <label for="email">Email</label>
      </div>

      <div class="" ng-messages="loginForm.email.$touched && loginForm.email.$error" role="">
        <div ng-message="email">
          Please enter a valid email address
        </div>
        <div ng-message="required">
          Email is required
        </div>
      </div>
    </div>

    <div>
      <div class="">
        <input type="password" ng-model="user.password" name="password" class="form-control" placeholder="Sekrit" required>
        <label for="password">Password</label>
      </div>
      <div class="" ng-messages="loginForm.password.$touched && loginForm.password.$error" role="alert">
        <div ng-message="required">
          Password is required
        </div>
      </div>
    </div>

    <div class="">
      <button name="loginButton" type="submit" class="btn btn-lrg btn-primary btn-block" ng-disabled="loginForm.$invalid || loginForm.$submitted">Login</button>
    </div>
    <div class="">
      <a href="#" class="">Forgot your password?</a>
    </div>
  </fieldset>

  {{ user }}
</form>
</div>
