<div class="container col-md-3">
  <div class="form-group">
    <label for="title">Title:</label>
    <input class="form-control" ng-model="title" id="title" type="text"></input>

    <label for="author">Author:</label>
    <select multiple class="form-control dropdown" id="author" ng-model="author">
        <!-- <option ng&#45;repeat="user in users" value="{{user.id}}">{{user.email}}</option> -->
    </select>
  </div>

    <button id="submit"
      class="btn btn-primary form-control"
      ng-click="create_new_article(title, author)">
      Submit
    </button>

  Status: <br>
  Article result: {{ article_result }} <br>
  Title: {{ title_result }} <br>
  Users: {{ users }} <br>
</div>
